/* document body styling */

body {
    background: AliceBlue;
    max-width: 900px;
    margin: auto;
    padding: 0 16px;
    font-family: sans-serif;
}

::selection {
    background-color: PowderBlue;
}

/* styling the titles and headers */

h1 {
    color: SlateBlue;
}

h2 {
    color: IndianRed;
}

header, footer {
    text-align: center;
}

/* the styling for the bullet points in the achievements */

.math {
    color: DimGray;
}

.science {
    color: SlateGray;
}

/* styling for links */

a {
    color: MediumSlateBlue;
}

a:visited {
    color: LightSlateBlue;
}

/* styling for the different size viewing modes */

@media (min-width: 50em) {
    	.twocol { column-count: 2 ;}
}
