body {
  grid-template-areas: 
    "h h"
    "b t"
    "f f";
  grid-template-columns: 700px 200px;
  grid-gap: 20px;
  width: 920px;
}

header {
  grid-area: h;
}

footer {
  grid-area: f;
}

h2 {
  color: var(--accent-color);
}

aside {
  grid-area: t;
  column-count: auto;
  column-width: 200px;
}

main {
  grid-area: b;
}

@media screen and (max-width: 960px) {
  body {
    grid-template-areas: 
      "h"
      "t"
      "b"
      "f";
    grid-template-columns: 700px;
    width: 700px;
  }
}

