:root {
  --bg-color: #1F1F28;
  --fg-color: #DCD7BA;

  --border-color: #54546D;
  --link-color: #D27E99;
  --code-color: #7FB4CA;
  --sel-color: #2D4F67;
  --soft-acc-bg-color: #2D4F6760;
  --accent-color: #C0A36E;
}

* {
  margin: 0px;
  padding: 0px;
  /* to stop the mobile resizing that occurs normally */
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  
  font-family: monospace;
  font-size: medium;
}

/* general global formats */

body {
  background-color: var(--bg-color);
  background-image: url(./dots.svg);
  color: var(--fg-color);
  margin: auto;
  padding: 20px;
  max-width: 800px;
  min-width: 700px;
}

main, footer {
  margin-top: 20px;
}

h1, h2, h3 {
  color: var(--accent-color);
}

h1 {font-size: 2em;}
h2 {font-size: 1.5em;}

a, a:visited {
  color: var(--link-color);
  text-decoration: none;
}

li::marker {
  color: var(--accent-color);
}

::selection {
  background-color: var(--sel-color);
}

code {
  color: var(--code-color);
}

table th, table td {
  border: 2px solid var(--border-color);
}

table .invis { border: none; }

table {
  border-collapse: collapse;
  margin: auto;
  width: auto !important;
}

table col {
  width: min-content !important;
  min-width: 50px;
}

table td, table tr, table th, table caption {
  padding: 3px 5px;
}

table caption {
  font-weight: bold;
  color: var(--accent-color);
}

math, math * {
  margin-top: 0px !important;
  font-size: small;
}

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: min-content;
  text-align: center;
}

figure pre {
  text-align: left;
  width: min-content;
}

/* Header formatting */

header {
  border: 2px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--bg-color);
  padding: 20px;
  text-align: center;
}

header hgroup {
  display: block;
}

header hgroup * {
  display: inline;
  vertical-align: middle;
}

header hgroup h1 {
  font-size: xx-large;
}

header *:not(:first-child) {
  margin-top: 5px;
}

/* Footer formatting */

footer {
  border: 2px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--bg-color);
  padding: 20px;
}

footer * {
  text-align: center;
}

footer *:not(:first-child) {
  margin-top: 5px;
}

/* Main formatting */

main {
  border: 2px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--bg-color);
  padding: 20px;
}

main * {
  margin-top: 5px;
}

main h2:not(:first-child) {
  margin-top: 20px;
}

main h2 {
  text-decoration: underline;
}

main h3, main hgroup {
  margin-top: 15px;
}

main > :first-child {
  margin-top: 0px;
}

ul, dd {
  padding-left: 20px;
}

ol {
  padding-left: 30px;
}

img {
  max-width: 100%;
}

table {
  margin-top: 10px;
}

main hgroup, main li {
  position: relative;
  display: block;
}

main hgroup * {
  display: inline;
}

.right {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.tag {
  color: var(--code-color);
}

em {
  background-color: var(--soft-acc-bg-color);
}

